name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    name: Julia ${{ matrix.version }} / ${{ matrix.os }} ${{ matrix.arch }} / ${{ matrix.precompile }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false # don't stop CI even when one of them fails
      matrix:
        include:
          - version: '1' # current stable
            os: ubuntu-latest
            arch: x64
            precompile: true
          - version: "1" # x86 ubuntu
            os: ubuntu-latest
            arch: x86
            precompile: true
          - version: "1" # precompile_workload = false
            os: ubuntu-latest
            arch: x64
            precompile: false
          - version: "1" # macos
            os: macos-latest
            arch: x64
            precompile: true
          - version: "1" # x86 windows
            os: windows-latest
            arch: x64
            precompile: true
          - version: "1" # x86 windows
            os: windows-latest
            arch: x86
            precompile: true
          - version: "nightly" # nightly
            os: ubuntu-latest
            arch: x64
            precompile: true
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v5
